---
---
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="chrome=1">
	<title>bootstrap</title>
	<meta name="description" content="">
	<meta name="author" content="Jiri Vanmeerbeeck">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes" />
	
	<link rel='shortcut icon' href='{{site.baseurl}}/images/favicon.ico' type='image/x-icon' />
	<link rel='stylesheet' href='{{site.baseurl}}/fonts/open-sans.css'>
	<link rel='stylesheet' href='{{site.baseurl}}/app.css'>
	
	<link href="photoswipe/styles.css" type="text/css" rel="stylesheet" />   	
	<link href="photoswipe/photoswipe.css" type="text/css" rel="stylesheet" />   	
	<script src="photoswipe/lib/klass.min.js"></script>
	<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script src="photoswipe/code.photoswipe.jquery-3.0.5.min.js"></script>
	<script src="photoswipe/flickr-gallery-ps.js"></script>
	<script type="text/javascript">
		(function(window, $, PhotoSwipe){
			
			$(document).ready(function(){
				
				var options = {};
				$("#Gallery a").photoSwipe(options);
			
			});
				
		}(window, window.jQuery, window.Code.PhotoSwipe));	
	</script>
	<!--[if lt IE 9]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
  <div id='container'>

    <div id="header">
      <div class="navigation">
        <a href="{{site.baseurl}}" class="title">Bootstrap</a>
      </div>
    </div>

    <div id='main'>{{content}}</div>
    

          	
  </div>

  <div id='footer'>
    <div class="footer-content">
      Made by <a href="http://developmentseed.org">Development Seed</a>, Source Code on <a href="http://github.com/prose/bootstrap">GitHub</a>
    </div>
  </div>
</body>
</html>
